.note-editor {
    // border: 1px solid rgb(231, 237, 242);
    width: 100%;
    // display: inline-block;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  font-size: 40px;
  color: #b4babf;
}
.note-editor .note-toolbar {
    padding: 0px 12px 6px;
    margin: 0px;
    // border-bottom: 1px solid rgb(231, 237, 242);
    // background-color: rgb(251, 252, 252);
}
.note-editor .note-toolbar > .btn-group {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0px;
}
.note-editor .note-toolbar .note-style blockquote,
.note-editor .note-toolbar .note-style h1,
.note-editor .note-toolbar .note-style h2,
.note-editor .note-toolbar .note-style h3,
.note-editor .note-toolbar .note-style h4,
.note-editor .note-toolbar .note-style h5,
.note-editor .note-toolbar .note-style h6 {
    margin: 0px;
}
.note-editor .note-toolbar .note-para .dropdown-menu {
    min-width: 216px;
    padding: 5px;
}
.note-editor .note-toolbar .note-para .dropdown-menu > div:first-child {
    margin-right: 5px;
}
.note-editor .dropdown-menu {
    min-width: 90px;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0px;
}
a {
    background: 0px 0px;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0px;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("http://fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("http://fonts/glyphicons-halflings-regular.woff") format("woff"), url("http://fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("http://fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
*,
::after,
::before {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(62, 87, 113);
    background-color: rgb(255, 255, 255);
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: rgb(41, 128, 185);
    text-decoration: none;
}
ol,
ul {
    margin-top: 0px;
    margin-bottom: 10px;
}
blockquote {
    padding: 10px 20px;
    margin: 0px 0px 20px;
    font-size: 17.5px;
    border-left: 5px solid rgb(231, 237, 242);
}
blockquote::after,
blockquote::before {
    content: "";
}
.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    background-image: none;
}
.btn-default {
    color: rgb(50, 71, 92);
    // border-color: rgb(231, 237, 242);
    // background-color: rgb(251, 252, 252);
    background: none;
}
.btn-group-sm > .btn,
.btn-group-xs > .btn,
.btn-sm,
.btn-xs {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-width: 4px 4px 0px;
    border-style: solid solid dotted;
    border-top-color: rgb(50, 71, 92);
    border-right-color: transparent;
    border-left-color: transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: none;
    font-size: 14px;
    border: 1px solid rgb(198, 211, 224);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: rgb(62, 87, 113);
    white-space: nowrap;
}
div.dropdown-menu {
    padding: 0px;
}
.btn-default .caret {
    border-top-color: rgb(50, 71, 92);
}
.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group-vertical > .btn,
.btn-group > .btn {
    position: relative;
    float: left;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.btn-toolbar::after,
.btn-toolbar::before {
    content: " ";
    display: table;
}
.btn-toolbar::after {
    clear: both;
}
.btn-toolbar .btn-group {
    float: left;
}
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn + .btn-group,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn-group + .btn-group {
    margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
}
.btn-group > .btn:first-child {
    margin-left: 0px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}
.btn .caret {
    margin-left: 0px;
}
@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0px;
    }
    100% {
        background-position: 0px 0px;
    }
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0px;
    }
    100% {
        background-position: 0px 0px;
    }
}
@-webkit-keyframes hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
    }
    100% {
        -webkit-filter: hue-rotate(-360deg);
    }
}
@font-face {
    font-family: FontAwesome;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
@-webkit-keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
.fa-quote-left:before {
    content: "\f10d"
}
.fa-quote-right:before {
    content: "\f10e"
}
.fa-bold::before {
    content: "";
}
.fa-italic::before {
    content: "";
}
.fa-align-left::before {
    content: "";
}
.fa-align-center::before {
    content: "";
}
.fa-align-right::before {
    content: "";
}
.fa-align-justify::before {
    content: "";
}
.fa-dedent::before,
.fa-outdent::before {
    content: "";
}
.fa-indent::before {
    content: "";
}
.fa-photo::before,
.fa-image::before,
.fa-picture-o::before {
    content: "";
}
.fa-arrows-alt::before {
    content: "";
}
.fa-chain::before,
.fa-link::before {
    content: "";
}
.fa-list-ul::before {
    content: "";
}
.fa-list-ol::before {
    content: "";
}
.fa-underline::before {
    content: "";
}
.fa-magic::before {
    content: "";
}
.fa-code::before {
    content: "";
}
.fa-youtube-play::before {
    content: "";
}
.btn-default.active {
    background-color: #bbb;
}
.right-panel {
    // height: 500px;
    background: #ccc;
    // width: 30%;
    display: inline-block;
    // position: absolute;
    padding: 25px 40px;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.write-box,.write-box input:focus,.write-box textarea:focus {
    background: #fff
}

.write-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #263238;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    overflow: hidden
}

.write-box .close-button {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 24px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #B0BEC5;
    display: block;
    text-align: center;
    transition: all .3s ease-in-out;
    z-index: 100
}

.write-box .close-button:hover {
    color: #78909C;
    border-color: #cfd8dc
}

.write-box .left-column {
    width: 70%;
    position: relative;
    min-height: 100vh;
    transition: all .3s ease-in-out;
    margin: 0
}

.write-box .right-column {
    width: 30%;
    max-width: 390px;
    position: relative;
    min-height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.write-box textarea {
    border: none;
    resize: none;
    padding: 8px 0;
    color: #263238;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.write-box p {
    color: #263238
}

.write-box p.sub-heading {
    font-size: 14px;
    text-transform: none;
    color: #546E7A;
    margin: 0 0 18px;
    line-height: normal;
    font-weight: 400
}

.write-box .publish-button i,.write-box p.sub-heading i {
    margin-right: 4px
}

.write-box .help-tip {
    left: -280px;
    top: 25px;
    bottom: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.write-box .help-tip:before {
    position: absolute;
    content: " ";
    bottom: auto;
    left: 277px;
    top: -8px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2196F3;
    border-top: none
}

.write-box .help-tip i,.write-box .help-tip p {
    color: #fff
}

.write-box .publish-button {
    padding: 6.5px 20px;
    font-weight: 700;
    font-size: 14px;
    background: #26C6DA;
    color: #FFF;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .1 ease;
    -moz-transition: all .1 ease;
    -o-transition: all .1 ease;
    transition: all .1 ease
}

.write-box .publish-button.disabled {
    background: rgba(38,198,218,.6);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.write-box .write-area {
    padding: 60px 80px
}


.write-box .write-area .creator-info {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eceff1
}

.write-box .write-area .creator-info .user-photo {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin-right: 16px;
    background: #cfd8dc;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.write-box .write-area .creator-info .user-name {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.write-box .write-area .creator-info .toggle-preview {
    font-size: 12px;
    padding: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    color: #455A64;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-top: 5.5px
}

.write-box .write-area .creator-info .toggle-preview i {
    margin-right: 4px
}

.write-box .write-area .creator-info .toggle-preview.active,.write-box .write-area .creator-info .toggle-preview:hover {
    background: #eceff1
}
.write-box .controls-area {
    padding: 60px 32px 0;
    border-left: 1px solid #eceff1;
    background: #fff;
    min-height: 100vh
}

.write-box .controls-area {
    padding: 60px 32px 0;
    border-left: 1px solid #eceff1;
    background: #fff;
    min-height: 100vh
}

.write-box .controls-area .open-controls {
    display: none;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 20px;
    left: -40px;
    line-height: 38px;
    text-align: center;
    color: #FFF;
    background: #26C6DA;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.write-box .controls-area .open-controls:active,.write-box .controls-area .open-controls:hover {
    background: #26C6DA
}

.write-box .controls-area .wrap-controls .post-tagging-wrapper {
    margin: 0
}

.write-box .controls-area .wrap-controls .post-tagging-wrapper p.sub-heading {
    margin: 0 0 16px
}

.write-box .controls-area .wrap-controls .post-tagging-wrapper .tags-input {
    color: #455A64;
    margin: 0;
    font-size: 16px
}

.write-box .controls-area .wrap-controls .post-tagging-wrapper ul.tags-list li {
    margin: 0 8px 8px 0
}

.write-box .controls-area .wrap-controls .check-anonymous {
    margin: 0
}

.write-box .controls-area .wrap-controls .column-title {
    font-size: 18px;
    margin: 0 0 16px
}

.write-box .controls-area .wrap-controls .single-control-block {
    margin-bottom: 48px
}

.write-box .controls-area .wrap-controls .single-control-block.form-block {
    border: 1px solid #FFC107;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 12px 16px;
    background: #FFECB3
}

.write-box .controls-area .wrap-controls .single-control-block.form-block input {
    border-bottom: 1px solid #546E7A;
    background: 0 0
}

.write-box .controls-area .wrap-controls .single-control-block.form-block input::-webkit-input-placeholder {
    color: #263238;
    font-weight: 400
}

.write-box .controls-area .wrap-controls .single-control-block.form-block input::-moz-placeholder {
    color: #263238;
    font-weight: 400
}

.write-box .controls-area .wrap-controls .single-control-block.form-block input:-ms-input-placeholder {
    color: #263238;
    font-weight: 400
}

.write-box .controls-area .wrap-controls .single-control-block.form-block label {
    color: #263238
}

.write-box .controls-area .wrap-controls .single-control-block.form-block label select {
    margin-top: 12px;
    border: 1px solid #607D8B;
    color: #607D8B
}

.write-box .controls-area .wrap-controls .single-control-block h3 {
    font-size: 14px;
    color: #455A64;
    margin-bottom: 16px
}

.write-box .controls-area .wrap-controls .single-control-block h3 i {
    margin-right: 4px;
    font-size: 16px;
    position: relative
}

.write-box .controls-area .wrap-controls .single-control-block .similar-questions-list a {
    display: block;
    padding: 12px 0;
    font-size: 14px;
    color: #26C6DA;
    border-bottom: 1px solid #ECEFF1
}

.write-box .controls-area .wrap-controls .single-control-block .similar-questions-list a i {
    color: #B0BEC5;
    margin-right: 8px
}

.write-box .controls-area .wrap-controls .single-control-block .similar-questions-list a:hover i {
    color: #607D8B
}

.write-box .controls-area .wrap-controls .single-control-block .similar-questions-list li:first-child a {
    border-top: 1px solid #ECEFF1
}

.write-box .controls-area .wrap-controls .single-control-block .similar-questions-list li:last-child a {
    font-size: 10px;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    -webkit-opacity: .5;
    opacity: .5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    border-bottom: none;
    display: inline-block;
    color: #455A64
}

.write-box .controls-area .wrap-controls .single-control-block .similar-questions-list li:last-child a:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100)
}

.write-box .controls-area .wrap-controls .single-control-block.drafts-control-block .control-anchor {
    color: #26C6DA;
    position: relative
}

.write-box .controls-area .wrap-controls .single-control-block.drafts-control-block .control-anchor .hover-tooltip {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 10px;
    background: #42A5F5;
    padding: 12px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 10;
    color: #ECEFF1;
    font-size: 12px;
    width: 200px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}

.write-box .controls-area .wrap-controls .single-control-block.drafts-control-block .control-anchor .hover-tooltip:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #29B6F6;
    top: -10px;
    left: 10px
}

.write-box .controls-area .wrap-controls .single-control-block.drafts-control-block .control-anchor:hover .hover-tooltip {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.write-box .controls-area .wrap-controls .single-control-block.drafts-control-block .control-anchor.edit-mode {
    color: #607D8B
}

.write-box .controls-area .wrap-controls .single-control-block:first-child {
    margin-top: 5.5px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECEFF1
}

.write-box .controls-area .wrap-controls .single-control-block:last-child {
    margin-bottom: 0
}

.write-box .controls-area .wrap-controls .single-control-block .publish-button {
    display: inline-block
}

.write-box .controls-area .wrap-controls .single-control-block .post-tagging-wrapper {
    margin-bottom: 32px
}

.write-box .controls-area .wrap-controls .single-control-block .control-anchor {
    font-size: 14px;
    color: #546E7A
}

.write-box .controls-area .wrap-controls .single-control-block .control-anchor i {
    margin-right: 4px;
    font-size: 20px;
    position: relative;
    top: 2px
}

.write-box .controls-area .wrap-controls .single-control-block .control-anchor.disabled {
    color: #B0BEC5;
    cursor: default
}

.write-box .controls-area .wrap-controls .single-control-block .control-anchor.disabled i {
    color: #B0BEC5
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap {
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap a {
    display: block
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap .add-cover {
    padding: 16px;
    color: #B0BEC5;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px dashed #cfd8dc;
    font-size: 14px
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap .add-cover i {
    margin-right: 4px
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap .add-cover:hover {
    background: #ECEFF1;
    border: 1px solid #cfd8dc;
    color: #607D8B
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap .remove-cover {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap .remove-cover .text-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    visibility: hidden;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap .remove-cover .remove-message {
    color: #fff;
    display: block;
    margin: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: 700
}

.write-box.preview-mode .close-button,.write-box.preview-mode .post-content {
    display: none
}

.write-box .controls-area .wrap-controls .single-control-block .story-cover-wrap .remove-cover:hover .text-wrapper {
    visibility: visible;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100)
}

.write-box .controls-area .wrap-controls .single-control-block p.sync-text {
    font-size: 12px;
    color: #78909C;
    margin-top: 8px
}

.write-box .controls-area .wrap-controls .single-control-block select {
    border: 1px solid #cfd8dc;
    background-color: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #546E7A;
    font-size: 14px;
    padding: 12px 16px;
    height: auto
}

.write-box .controls-area .wrap-controls input {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0
}

.write-box.preview-mode .left-column {
    margin-left: 15%;
    margin-right: -15%
}

.write-box.preview-mode .right-column {
    min-width: 200px;
    transform: translateX(100%);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    visibility: hidden
}

.write-box.preview-mode .post-preview {
    display: block
}

.write-box .drafts-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,.36);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.static-page .mern-modal.show-modal,.write-box .drafts-modal.appear {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100)
}

.write-box .drafts-modal .drafts-modal-container {
    background: #fff;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    height: 65vh;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
    position: relative
}

.write-box .drafts-modal .drafts-modal-container .drafts-modal-header {
    padding: 16px;
    border-bottom: 1px solid #eceff1
}

.write-box .drafts-modal .drafts-modal-container .drafts-modal-header .close-modal {
    color: #546E7A;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 20px
}

.write-box .drafts-modal .drafts-modal-container .drafts-modal-header .modal-title {
    color: #546E7A;
    font-size: 20px;
    font-weight: 700;
    margin: 0
}

.write-box .drafts-modal .drafts-modal-container .drafts-body {
    height: calc(100% - 65px);
    position: relative;
    overflow: hidden
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .no-drafts-message {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .no-drafts-message .default-message-wrapper {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    width: 100%
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .no-drafts-message .default-message-wrapper .feat-img {
    width: 56px;
    margin: 16px auto;
    display: inline-block
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .no-drafts-message .default-message-wrapper p {
    font-size: 24px;
    color: #90A4AE;
    font-weight: 700
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .drafts-list {
    margin: 0
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .drafts-list li {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .drafts-list a {
    font-size: 16px;
    display: inline-block;
    padding: 16px;
    width: calc(100% - 57px);
    border-bottom: 1px solid #ECEFF1
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .drafts-list a.draft-name {
    color: #546E7A;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .drafts-list a.draft-name i {
    margin-right: 8px
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .drafts-list a.draft-name span.draft-date {
    display: block;
    clear: both;
    font-size: 12px;
    color: #90A4AE;
    margin-left: 24px
}

.write-box .drafts-modal .drafts-modal-container .drafts-body .drafts-list a.delete-button {
    width: 57px;
    text-align: center;
    color: #546E7A
}

.write-box .drafts-modal.appear {
    -khtml-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible
}

.write-box .drafts-modal.appear .drafts-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.post-content-field {
    width: 100%;
    font-size: 16px;
    min-height: 200px;
    color: #455A64;
    overflow: hidden
}

.write-box textarea {
    border: none;
    resize: none;
    padding: 8px 0;
    color: #263238;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.post-title-field {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    width: 100%;
}

